body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  margin: 0;
}
/*Discount Bootstrap Responsive Grid (Mobile First)*/
.colorblock {
  background-color: #B1CABF;
}
.container {
  max-width: 1000px;
  margin:auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
}
.column.hybridRow {
  display: flex;
  flex-wrap: wrap;
}
.column.span8.static {
  width: 66.67%;
}
.column.span4.static {
  width: 33.33%;
}
/*Discount Bootstrap Responsive Grid Media Queries*/
/*Vertical Mobile*/
@media only screen and (max-width: 600px) {
}
/*Horizontal Mobile & Tablets*/
@media only screen and (min-width: 601px) and (max-width:1000px) {
  .span1 {
    width: 8.33%;
  }
  .span2 {
    width: 16.66%;
  }
  .span3 {
    width: 25%;
  }
  .span4 {
    width: 33.33%
  }
  .span5 {
    width: 41.66%
  }
  .span6 {
    width: 50%;
  }
  .span7 {
    width: 58.34%;
  }
  .span8 {
    width: 66.67%;
  }
  .span9 {
    width: 75%;
  }
  .span10 {
    width: 83.34%;
  }
  .span11 {
    width: 91.67%;
  }
  .span12 {
    width: 100%;
  }
  span5.spacer {
    padding-right: 20%;
  }
  span6.spacer {
    padding-right: 16.66%;
  }
  .column.span8.static {
    width: 66.67%;
  }
  .column.span4.static {
    width: 33.33%;
  }
}
/*Desktop*/
@media only screen and (min-width: 1001px) {
  .span1 {
    width: 8.33%;
  }
  .span2 {
    width: 16.66%;
  }
  .span3 {
    width: 25%;
  }
  .span4 {
    width: 33.33%
  }
  .span5 {
    width: 41.66%
  }
  .span6 {
    width: 50%;
  }
  .span7 {
    width: 58.34%;
  }
  .span8 {
    width: 66.67%;
  }
  .span9 {
    width: 75%;
  }
  .span10 {
    width: 83.34%;
  }
  .span11 {
    width: 91.67%;
  }
  .span12 {
    width: 100%;
  }
  span5.spacer {
    padding-right: 20%;
  }
  span6.spacer {
    padding-right: 16.66%;
  }
  .column.span8.static {
    width: 66.67%;
  }
  .column.span4.static {
    width: 33.33%;
  }
}
