/*Borrowed Hamburger Stuff*/
.hamburger {
  width: 40px;
  height: 30px;
  display: inline-block;
  float: right;
  margin-top: 4pt;
}
.hamburger:hover {
  cursor: pointer;
}
#hamburger-cell {
  text-align: right;
  display: inline;
}
#top_hamburger span {
  background-color: #666;
  height: 6px;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 3px;
}
#hamburgerTop {
  top: 0;
}
#hamburgerMid {
  top: 6px;
}
#hamburgerBottom {
  top: 12px;
}
#top_hamburger.animcomplete span#hamburgerTop {
  width: 100%;
  transform: translateY(12px) translateX(0) rotate(45deg);
}
#top_hamburger.animcomplete span#hamburgerMid {
  width: 100%;
  transform: translateY(0) translateX(0) rotate(-45deg);
}
#top_hamburger.animcomplete span#hamburgerBottom {
  width: 100%;
  transform: translateY(-12px) translateX(0) rotate(45deg);
  box-shadow: none;
}
.open #hamburgerTop {
  animation: hamburgerTopBar 0.4s ease-in-out 0s infinite alternate forwards;
}
.open #hamburgerMid {
  animation: hamburgerMidBar 0.4s ease-in-out 0s infinite alternate forwards;
}
.open #hamburgerBottom {
  animation: hamburgerBottomBar 0.4s ease-in-out 0s infinite alternate forwards;
}
.closed #hamburgerTop {
  animation: hamburgerTopBar 0.4s ease-in-out 0s infinite alternate-reverse forwards;
}
.closed #hamburgerMid {
  animation: hamburgerMidBar 0.4s ease-in-out 0s infinite alternate-reverse forwards;
}
.closed #hamburgerBottom {
  animation: hamburgerBottomBar 0.4s ease-in-out 0s infinite alternate-reverse forwards;
}
/* Discount Bootstrap Responsive Grid /*
/* Hamburger CSS Animation */
@keyframes hamburgerTopBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  20% {
    width: 100%;
    transform: translateY(-6px);
  }
  50% {
    width: 100%;
    transform: translateY(12px);
  }
  80% {
    width: 120%;
    transform: translateY(12px) translateX(-10%) rotate(60deg);
  }
  100% {
    width: 100%;
    transform: translateY(12px) translateX(0) rotate(45deg);
  }
}
@keyframes hamburgerMidBar {
  0% {
    width: 100%;
    transform: translateY(0);
  }
  49% {
    width: 100%;
    transform: translateY(0);
  }
  50% {
    width: 100%;
    transform: translateY(-6px);
  }
  80% {
    width: 120%;
    transform: translateX(-10%) rotate(-60deg);
  }
  100% {
    width: 100%;
    transform: rotate(-45deg);
  }
}
@keyframes hamburgerBottomBar {
  0% {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    transform: translateY(0px);
  }
  20% {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    transform: translateY(6px);
  }
  49% {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: none;
    width: 100%;
    transform: translateY(0);
  }
  80% {
    box-shadow: none;
    width: 120%;
    transform: translateY(-12px) translateX(-10%) rotate(60deg);
  }
  100% {
    box-shadow: none;
    width: 100%;
    transform: translateY(-12px) rotate(45deg);
  }
}
/*Nav Menu*/
header {
  position: absolute;
  width: 100%;
  z-index: 7;
}
#navBar {
  padding: 8px 8px 8px 8px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
#mark {
  display: inline-block;
  width: 50px;
}
nav#horizontal {
  display: none;
  float: right;
}
nav#horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}
nav#horizontal li {
  float: left;
  margin-left: 20px;
  margin-bottom: 8px;
}
nav#horizontal li a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
nav#vertical {
  float: right;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
}
nav#vertical ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav#vertical li a {
  color: #666;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  line-height: 2em;
}
#dropdown {
  transform: translateY(-200px);
  -webkit-transform: translateY(-200px);
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  z-index: 0;
  position: relative;
}
/*Page-Specific Hero Header*/
#hero {
  background-color: #83AE9C;
  height: 640px;
}
#hero h1 {
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 280px;
  position: relative;
}
#hero img {
  position: absolute;
  max-width: 1000px;
}
/*Text Styles*/
body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  margin: 0;
  background-color: #EDC2BB;
}
h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
}
p {
  color: #666;
  line-height: 1.7em;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
strong {
  color: #83AE9C;
}
.button {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.colorblock .button {
  color: #fff;
  border: 4px solid #fff;
  display: block;
  width: 159px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: box-shadow 0.15s;
  -webkit-transition: box-shadow 0.15s;
}
.colorblock .button:hover {
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}
.colorblock .button:active {
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
.colorblock p {
  color: #fff;
}
.colorblock h3 {
  color: #fff;
}
/*Image Handling*/
img {
  width: 100%;
}
.iconLarge {
  display: block;
  width: 65%;
  margin: auto;
  margin-top: 0.3em;
  padding-left: 20px;
}
/*'Discount Bootstrap' Responsive Grid (Mobile First)*/
.colorblock {
  background-color: #B1CABF;
  padding: 0.01px;
}
.container {
  max-width: 1000px;
  margin:auto;
  padding-top: 41.66px;
  padding-bottom: 41.66px
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  margin-top: 41.66px;
  margin-bottom: 41.66px;
}
.column.hybridRow {
  display: flex;
  flex-wrap: wrap;
}
.column.span8.static {
  width: 66.67%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.column.span4.static {
  width: 33.33%;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*'Discount Bootstrap' Responsive Grid Media Queries*/
/*Vertical Mobile*/
@media only screen and (max-width: 600px) {
}
/*Horizontal Mobile & Tablets*/
@media only screen and (min-width: 601px) and (max-width:1000px) {
  .span1 {
    width: 8.33%;
  }
  .span2 {
    width: 16.66%;
  }
  .span3 {
    width: 25%;
  }
  .span4 {
    width: 33.33%
  }
  .span5 {
    width: 41.66%
  }
  .span6 {
    width: 50%;
  }
  .span7 {
    width: 58.34%;
  }
  .span8 {
    width: 66.67%;
  }
  .span9 {
    width: 75%;
  }
  .span10 {
    width: 83.34%;
  }
  .span11 {
    width: 91.67%;
  }
  .span12 {
    width: 100%;
  }
  .spacer {
    padding-right: 0;
    box-sizing: border-box;
  }
  .column.span8.static {
    width: 66.67%;
  }
  .column.span4.static {
    width: 33.33%;
  }
}
/*Desktop*/
@media only screen and (min-width: 1001px) {
  .span1 {
    width: 8.33%;
  }
  .span2 {
    width: 16.66%;
  }
  .span3 {
    width: 25%;
  }
  .span4 {
    width: 33.33%
  }
  .span5 {
    width: 41.66%
  }
  .span6 {
    width: 50%;
  }
  .span7 {
    width: 58.34%;
  }
  .span8 {
    width: 66.67%;
  }
  .span9 {
    width: 75%;
  }
  .span10 {
    width: 83.34%;
  }
  .span11 {
    width: 91.67%;
  }
  .span12 {
    width: 100%;
  }
  .spacer {
    padding-right: 8.33%;
    box-sizing: border-box;
  }
  .column.span8.static {
    width: 66.67%;
  }
  .column.span4.static {
    width: 33.33%;
  }
  p, h3, h2, h1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .iconLarge {
    padding-left: 0px;
  }
  nav#horizontal {
  display: inline-block;
  }
  #hamburger-cell {
    display: none;
  }
  nav#vertical {
    display: none;
  }
}
