body {
  margin: 0px;
}
header {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  -webkit-transform: translateZ(999px) scale(1);
  transform: translateZ(999px) scale(1);
}
header table {
    width: 100%;
}
header tbody {
    margin: 24px; 
}
header td {
    width: 50%;
}
.right_align {
    text-align: right;   
}
a {
  text-decoration: none;
  color: #FF9966;
}
a:hover {
  color: #FF6666;
}
header ul {
  list-style-type: none;
  margin: 25px;
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.75vh;
  color: #FF9966;
  margin-right: 3vw;
}
header li {
  display: inline-block;
  margin-left: 2vw;
}
.gradient {
  text-align: center;
  height: 60vh;
  max-width: 100%;
  padding-top: 30vh;
  background-image: -webkit-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -moz-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -o-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -ms-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: linear-gradient(180deg, #FF6666, #FF9966);
}
img.downarrow {
  width: 8vh;
  position: relative;
  top: 20vh;
  display:block;
  margin: auto;
}
/**
table#nav {
  width: 100%;
  padding: 0px;
}
table#nav td {
  padding: 0px;
}
.navleft {
  float: left;
}
.navright {
  float: right;
}
**/
h1 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 9vh;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}
h2 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 7.5vh;
  color: #FF6666;
  margin: 0px;
  margin-left: 2vh;
}
h3 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3.5vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
}
/* gallery effects and such*/
div#gallery {
    max-width: 1000px;
    display: block;
    margin: auto;
    text-align: center;
    -webkit-transform: translateZ(500px) scale(1);
    transform: translateZ(500px) scale(1);
    position: relative;
}
div.gallery_img {
    width: 300px;
    height: 300px;
    margin: 12px;
    display: inline-block;
    background-image: url(https://i.imgur.com/aVfE9Ts.png);
}
div.gallery_text {
    opacity: 0;
    width: 300px;
    height: 240px;
    margin: 0;
    padding: 30px;
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in;
       -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
         -o-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
}
div.gallery_img:hover {
    cursor: pointer;   
}
div.gallery_img:hover div.gallery_text {
    opacity: 100;
    background-color: rgba(50, 100, 200, 0.5);
    -webkit-transform: translateZ(600px) scale(1);
    transform: translateZ(600px) scale(1);
    z-index: 1;
}
div.gallery_text h2 {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
@media (min-width: 640px) and (max-width: 900px) {
    div.gallery_img {
        width: 600px;
        height: 600px;
    }
    div.gallery_text {
        width: 600px;
        height: 480px;
        padding: 60px;
    }
}

@media (min-width: 500px) and (max-width: 640px) {
    div.gallery_img {
        width: 450px;
        height: 450px;
    }
    div.gallery_text {
        width: 450px;
        height: 360px;
        padding: 45px;
    }
}
