body {
  margin: 0px;
}
header {
}
div.gradient {
  text-align: center;
  height: 60vh;
  width: 100vw;
  padding-top: 30vh;
  background-image: -webkit-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -moz-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -o-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -ms-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: linear-gradient(180deg, #FF6666, #FF9966);
}
h1 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 7.5vh;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}
h3 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
