body {
  margin: 0px;
}
header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 10vh;
}
ul {
    float: right;
    list-style-type: none;
    margin: 0px;
}
li {
    display: inline-block;
}
div.gradient {
  text-align: center;
  height: 60vh;
  width: 100vw;
  padding-top: 30vh;
  background-image: -webkit-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -moz-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -o-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -ms-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: linear-gradient(180deg, #FF6666, #FF9966);
}
img.downarrow {
  max-width: 9vh;
}
h1 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 9vh;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}
h2 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 7.5vh;
  color: #FF6666;
  margin: 0px;
  margin-left: 2vh;
}
h3 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3.5vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
}
