body {
  margin: 0;
}
header {
  position: fixed;
  box-shadow: 0 -2vh 6vh;
  background-color: #fff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  -webkit-transform: translateZ(999px) scale(1);
  transform: translateZ(999px) scale(1);
}
header table, footer table {
  width: 100%;
}
header tbody, footer tbody {
  margin: 0; 
}
header td {
  width: 50%;
}
footer {
  width: 100%;
  background-color: #FF9966;
  height: 10vh;
  font-size: 1.2vw;
  color: #fff;
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
}
footer table {
  height: 100%;
}
.right_align {
  text-align: right;   
}
a {
  text-decoration: none;
  color: #FF9966;
  -webkit-transition: color 0.5s ease-in;
     -moz-transition: color 0.5s ease-in;
      -ms-transition: color 0.5s ease-in;
       -o-transition: color 0.5s ease-in;
          transition: color 0.5s ease-in;
}
a:hover {
  color: #FF6666;
}
ul {
  list-style-type: none;
}
header ul {
  margin: 2vh;
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.75vh;
  color: #FF9966;
  margin-right: 2vh;
}
li {
  display: inline-block;
  margin-left: 2vh;
}
img.downarrow {
  width: 8vh;
  position: relative;
  top: 20vh;
  display: block;
  margin: auto;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in;
     -moz-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
       -o-transition: opacity 0.5s ease-in;
          transition: opacity 0.5s ease-in;
}
img.downarrow:hover {
  opacity: 0.5;
}
img.uparrow {
  margin: auto;
  width: 8vh;
  margin-bottom: 10vh;
  margin-top: 10vh;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in;
     -moz-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
       -o-transition: opacity 0.5s ease-in;
          transition: opacity 0.5s ease-in;
}
img.uparrow:hover {
  opacity: 0.5;
}
h1 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 9vh;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 7.5vh;
  color: #FF6666;
  margin: 0;
  margin-left: 2vh;
}
h3 {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3.5vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
}
/* gallery effects and such*/
div#project {
  max-width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  -webkit-transform: translateZ(500px) scale(1);
  transform: translateZ(500px) scale(1);
  position: relative;
  margin-top: 10vh;
}
div.project_img {
    width: 78vw;
    height: 39vw;
    display: inline-block;
    background-size: 100%;
}
p.project_text {
  font-family: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 3vh;
  margin: auto;
  color: #ff6666;
  max-width: 46.8vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#mainimage {
  text-align: center;
  height: 40vw;
  width: 100%;
  padding-top: 10vh;
}
@media (max-width: 1200px) {
    div.project_img {
      width: 100vw;
      height: 50vw;
      margin-left: 0;
      margin-right: 0;
    }
    p.project_text {
      max-width: 60vw;
    }
}
#footer {
  text-align: center;
  height: 20vh;
  padding: 0px;
  max-width: 100%;
  background-image: -webkit-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -moz-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -o-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: -ms-linear-gradient(270deg, #FF6666, #FF9966);
  background-image: linear-gradient(180deg, #FF6666, #FF9966);
}
