:root {
  /* Colors */
  --brand-pink: #FF5757;
  --pale-pink: #FBCACA;
  --light-pink: #F5E0E0;
  
  /* Fonts */
  font-size: 16px;
  --body-size: 16px;
  --header-multiplier: 0.45;
  
  /* Spacing */
  --base-padding: 16px;
  
  /* Sizing */
  --blob-unit: calc(100vw / 6);
}

/* Project-Specific Styles */
/* Hero header gradient */
.gradient#hero {
  background-color: #FF5C5C;
  background-image: linear-gradient(90deg, #FF5C5C, #F0A2A2);
  animation: gradient-shift 15s infinite;
  background-size: 120%;
}

/* New slight animation for gradient, borrowed from Github Universe 2020 and modified */
@keyframes gradient-shift {
  0% {
    background-position: 58% 50%;
  }
  25% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 10% 50%;
  }
  to {
    background-position: 58% 50%;
  }
}

.gradient#hero p {
  color: #ffffff;
}
.gradient#hero #dramatic-headline {
  color: #FF5C5C;
  opacity: 0.1;
  font-family: 'Host Grotesk', helvetica, arial, sans-serif;
  font-weight: 400;
}

/* Find Care */
.column.hybrid-row .column.project .column.find-care {
  background-color: #598E18;
  background-image: url("/images/find-care/thumbnail.png");
}
.find-care#hero {
  background-color: #598E18;
}
.find-care#hero #dramatic-headline {
  color: #568716;
}

/* See the Bigger Picture */
.bigger-picture#hero {
  background-color: #6B9287;
}
.bigger-picture#hero #dramatic-headline {
  color: #52837A;
}
.column.hybrid-row .column.project .column.bigger-picture {
  background-color: #6B9287;
  background-image: url("/images/bigger-picture/thumbnail.png");
}
#gallery-big-pic {
}
#gallery-big-pic .gallery-img[data-current-img="1"] {
  background-image: url("/images/bigger-picture/gallery-1.png");
}
#gallery-big-pic .gallery-img[data-current-img="2"] {
  background-image: url("/images/bigger-picture/gallery-2.png");
}
#gallery-big-pic .gallery-img[data-current-img="3"] {
  background-image: url("/images/bigger-picture/gallery-3.png");
}
/* Jason Submarines */
.jason#hero {
  background-color: #002B56;
}
.jason#hero #dramatic-headline {
  color: #0D365F;
}
.column.hybrid-row .column.project .column.jason {
  background-color: #002B56;
  background-image: url("/images/jason/thumbnail.png");
}
#gallery-jason {
}
#gallery-jason .gallery-img[data-current-img="1"] {
  background-image: url("/images/jason/gallery-1.png");
}
#gallery-jason .gallery-img[data-current-img="2"] {
  background-image: url("/images/jason/gallery-2.png");
}
#gallery-jason .gallery-img[data-current-img="3"] {
  background-image: url("/images/jason/gallery-3.png");
}
#gallery-jason .gallery-img[data-current-img="4"] {
  background-image: url("/images/jason/gallery-4.png");
}
/* Edison Folio */
.edison#hero {
  background-color: #EFD84E;
}
.edison#hero #dramatic-headline {
  color: #E9D144;
}
.column.hybrid-row .column.project .column.edison {
  background-color: #EFD84E;
  background-image: url("/images/edison/thumbnail.png");
}
/* Mrs Eaves */
.mrs-eaves#hero {
  background-color: #E96658;
}
.mrs-eaves#hero #dramatic-headline {
  color: #F07467;
}
.column.hybrid-row .column.project .column.mrs-eaves {
  background-color: #E96658;
  background-image: url("/images/mrs-eaves/thumbnail.png");
}
/* Everyday */
.everyday#hero {
  background-color: #40C8C2;
}
.everyday#hero #dramatic-headline {
  color: #3dbeb8;
}
.column.hybrid-row .column.project .column.everyday {
  background-color: #40C8C2;
  background-image: url("/images/everyday/thumbnail.png");
}
/* Best Foot Forward */
.column.hybrid-row .column.project .column.foot-forward {
  background-color: #FE58BC;
  background-image: url("/images/foot-forward/thumbnail.png");
}
.foot-forward#hero {
  background-color:  #FE58BC;
}
.foot-forward#hero #dramatic-headline {
  color: #FF81CD;
}
/* Crescendo */
.column.hybrid-row .column.project .column.crescendo {
  background-color: #3b317a;
  background-image: url("/images/crescendo/thumbnail.png");
}
.crescendo#hero {
  background-color: #3b317a;
}
.crescendo#hero #dramatic-headline {
  color: #372E70;
}
.crescendo#hero img.parallax {
  padding: 2em;
  box-sizing: border-box;
}
/* Evolve KY */
.column.hybrid-row .column.project .column.evolve-ky {
  background-color: #60A3DB;
  background-image: url("/images/evolve-ky/thumbnail.png");
}
.evolve-ky#hero {
  background-color: #60A3DB;
}
.evolve-ky#hero #dramatic-headline {
  color: #62A8E1;
}
/* Futura Zine */
.column.hybrid-row .column.project .column.futura {
  background-color: #ABD397;
  background-image: url("/images/futura/thumbnail.png");
}
.futura#hero {
  background-color: #ABD397;
}
.futura#hero #dramatic-headline {
  color: #A6CF91;
}
/* Documentation */
.this-site#hero {
  background-color: #FF5C5C;
}
.this-site#hero #dramatic-headline {
  color: #FF6C6C;
}
.column.hybrid-row .column.project .column.this-site {
  background-color: #FF5C5C;
  background-image: url("/images/this-site/thumbnail.png");
}
/* Type Lamp */
.column.hybrid-row .column.project .column.type-lamp {
  background-color: #FFC553;
  background-image: url("/images/type-lamp/thumbnail.png");
}
/* Lost Places */
.column.hybrid-row .column.project .column.lost-places {
  background-color: #eeeeee;
  background-image: url("/images/lost-places/thumbnail.png");
}
/* Color Me _ */
.column.hybrid-row .column.project .column.color-me {
  background-color: #E56237;
  background-image: url("/images/color-me/thumbnail.png");
}
/* Onward Together */
.onward-together#hero {
  background-color: #242424;
}
.onward-together#hero #dramatic-headline {
  color: #1D1D1D;
}
.column.hybrid-row .column.project .column.onward-together {
  background-color: #242424;
  background-image: url("/images/onward-together/thumbnail.gif");
}
/* Selection Styles */
::selection {
  background: #518BE3;
  color: #fff;
}
::-moz-selection {
  background: #518BE3;
  color: #fff;
}
img::selection {
  background: none;
  color: #fff;
}
img::-moz-selection {
  background: none;
  color: #fff;
}
/* Bootstrap Add-Ons */
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  display: table;
}
main {
  display: table-row;
  height: 100%;
}
.hybrid-row p {
  display: inline-block;
}
.expandable {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: linear; 
  width: 100%;
}
.spacer {
  padding-right: 0;
  box-sizing: border-box;
}
.container.no-hero {
  margin-top: 5em;
}
.colorblock {
  background-color: #FAFAFA;
  display: inline-block;
  width: 100%;
}
.column.horizontal {
  margin-top: 2em;
}
/* Header Styles */
header {
  position: absolute;
  width: 100%;
  z-index: 7;
}
#navBar {
  background-color: #fff;
  padding: 8px 0px 0px 0px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  z-index: 1;
  position: fixed;
}
.navContainer {
  max-width: 1200px;
  margin:auto;
  padding: 0px 10px 8px 10px;
}
/* Logo Mark */
.mark {
  display: inline-block;
  width: 50px;
  cursor: pointer;
}
.ligature-fill {
  fill: #FF5C5C;
  opacity: 1;
}
.sp-icon:hover .ligature-fill {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
/* Hamburger Menu */
#hamburger-cell {
  text-align: right;
  display: inline;
}
.hamburger {
  width: 40px;
  height: 30px;
  display: inline-block;
  float: right;
  margin-top: 4pt;
}
.hamburger:hover {
  cursor: pointer;
}
#top_hamburger span {
  background-color: #483C46;
  height: 6px;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 3px;
}
#hamburgerTop {
  top: 0;
}
#hamburgerMid {
  top: 6px;
}
#hamburgerBottom {
  top: 12px;
}
#top_hamburger.animcomplete span#hamburgerTop {
  width: 100%;
  transform: translateY(12px) translateX(0) rotate(45deg);
}
#top_hamburger.animcomplete span#hamburgerMid {
  width: 100%;
  transform: translateY(0) translateX(0) rotate(-45deg);
}
#top_hamburger.animcomplete span#hamburgerBottom {
  width: 100%;
  transform: translateY(-12px) translateX(0) rotate(45deg);
  box-shadow: none;
}
.open #hamburgerTop {
  animation: hamburgerTopBar 0.4s ease-in-out 0s infinite alternate forwards;
}
.open #hamburgerMid {
  animation: hamburgerMidBar 0.4s ease-in-out 0s infinite alternate forwards;
}
.open #hamburgerBottom {
  animation: hamburgerBottomBar 0.4s ease-in-out 0s infinite alternate forwards;
}
.closed #hamburgerTop {
  animation: hamburgerTopBar 0.4s ease-in-out 0s infinite alternate-reverse forwards;
}
.closed #hamburgerMid {
  animation: hamburgerMidBar 0.4s ease-in-out 0s infinite alternate-reverse forwards;
}
.closed #hamburgerBottom {
  animation: hamburgerBottomBar 0.4s ease-in-out 0s infinite alternate-reverse forwards;
}
@keyframes hamburgerTopBar {
  0% {
    width: 100%;
    transform: translateY(0px);
  }
  20% {
    width: 100%;
    transform: translateY(-6px);
  }
  50% {
    width: 100%;
    transform: translateY(12px);
  }
  80% {
    width: 120%;
    transform: translateY(12px) translateX(-10%) rotate(60deg);
  }
  100% {
    width: 100%;
    transform: translateY(12px) translateX(0) rotate(45deg);
  }
}
@keyframes hamburgerMidBar {
  0% {
    width: 100%;
    transform: translateY(0);
  }
  49% {
    width: 100%;
    transform: translateY(0);
  }
  50% {
    width: 100%;
    transform: translateY(-6px);
  }
  80% {
    width: 120%;
    transform: translateX(-10%) rotate(-60deg);
  }
  100% {
    width: 100%;
    transform: rotate(-45deg);
  }
}
@keyframes hamburgerBottomBar {
  0% {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    transform: translateY(0px);
  }
  20% {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    transform: translateY(6px);
  }
  49% {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: none;
    width: 100%;
    transform: translateY(0);
  }
  80% {
    box-shadow: none;
    width: 120%;
    transform: translateY(-12px) translateX(-10%) rotate(60deg);
  }
  100% {
    box-shadow: none;
    width: 100%;
    transform: translateY(-12px) rotate(45deg);
  }
}
/* Vertical Navigation (Dropdown Menu) */
#dropdown {
  background-color: #483C46;
  padding-top: 52px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}
nav#vertical {
  width: 100%;
  text-align: center;
  padding: 1.5em 1em 0 1em;
  box-sizing: border-box;
}
nav#vertical ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  display: inline-block;
  width: auto;
}
nav#vertical li {
  margin-bottom: 1.5em;
}
nav#vertical li a {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
/*nav#vertical .expandable {
  width: auto;
}*/
/* Horzontal Navigation */
nav#horizontal {
  display: none;
  float: right;
}
nav#horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}
nav#horizontal li {
  float: left;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
nav#horizontal li a {
  font-family: 'Nunito Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #725B5B;
  text-decoration: none;
  letter-spacing: 0.01em;
  padding: 0 8px;
  text-align: center;
}
/*Nav Underline Animation */
nav li:after {
  display:block;
  content: '';
  border-bottom: solid 3px #FF5C5C;  
  transform: scaleX(0);
  transform-origin:  0% 50%;
}
nav li:hover:after {
  transform: scaleX(1);
}
nav li.selected:after {
  display:block;
  content: '';
  border-bottom: solid 3px #4ECDC4;
  transform: scaleX(1); 
}
nav#horizontal li:after {
  transition: transform 250ms ease-in-out;
}
/* Scroll Progress Bar */
#navBar #false-after {
  display: block;
  content: '';
  height: 0px;
  background-color: #FF5C5C;
  background: linear-gradient(to right, #FF5C5C, rgb(220, 161, 196));
  transform: scaleX(0);
  transition: transform 500ms ease-in-out, height 100ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out, height 100ms ease-in-out;
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
}
/* Gallery Widget General Styles */
.vertical-align {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery-img {
  width: 80%;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-button-container {
  width: 10%;
}
.gallery-left {
  margin-left: 1em;
  padding: 0;
  background-color: #FF5C5C;
  height: 63px;
  width: 63px;
  display: inline-block;
  left: 0;
  position: absolute;
  top : 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.7;
  transition-property: opacity;
  transition-duration: .15s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .15s;
  -webkit-transition-timing-function: linear;
  border-radius: 80px;
  cursor: pointer;
}
.gallery-left:hover, .gallery-right:hover {
  opacity: 1;
}
.gallery-left img, .gallery-right img {
  width: 100%;
  height: 100%;
}
.gallery-right {
  margin-right: 1em;
  background-color: #FF5C5C;
  height: 63px;
  width: 63px;
  display: inline-block;
  right: 0;
  position: absolute;
  top : 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
  opacity: 0.7;
  transition-property: opacity;
  transition-duration: .15s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .15s;
  -webkit-transition-timing-function: linear;
  border-radius: 80px;
  cursor: pointer;
}
/* Hero Header */
#hero {
  background-color: #eee;
  height: 400px;
  overflow: hidden;
  padding-top: 100px;
  box-sizing: border-box;
}
#hero.gradient {
  height: 500px;
}
#hero .headline-container-container {
  position: relative;
  height:100%;
  width: 100%;
  overflow: hidden;
}
#hero .headline-container {
  overflow: hidden;
  height: 100%;
  width: 1000%;
  position: absolute;
}
#hero #dramatic-headline {
  color: #ddd;
  font-family: 'Host Grotesk', helvetica, arial, sans-serif;
  font-size: 20em;
  font-weight: 500;
  position: relative;
  line-height: 0;
  top: 50%;
  display: inline-block;
}
#hero .image-container {
  margin: 0;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#hero .image-max {
  width: 100%;
  display: block;
  height: 100%;
  max-width: 1024px;
  margin: auto;
}
#hero .image-centered {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: 100%;
}
#hero img {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
#hero .container {
  position: relative;
 }
#hero h1 {
  color: #ffffff;
}
#hero h2 {
  color: #ffffff;
}
/* Body Styles */
body {
  font-family: 'Nunito', helvetica, arial, sans-serif;
  margin: 0;
}
h1 {
  font-family: 'Host Grotesk', helvetica, arial, sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 0.2em;
  color: #483C46;
}
h2 {
  font-weight: 300;
  margin: 0;
  font-size: 1.2em;
}
h3 {
  font-family: 'Host Grotesk', helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  color: #483C46;
  margin: 0;
  margin-bottom: 1em;
}
h4 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.15em;
  color: #FF5C5C;
  margin: 0 0 1em 0;
}
h5 {
  font-size: 1em;
  display: inline-block;
  color: #483C46;
  margin: 0 0 0 0;
}
#portfolio h4 {
  color: #fff;
  margin: 0;
  font-size: 1.4em;
  font-family: 'Host Grotesk', sans-serif;
  text-transform: initial;
  letter-spacing: initial;
  font-weight: 500;
}
#portfolio h5 {
  color: #fff;
  font-size: 1em;
  margin: 0;
  font-weight: 300;
}
main p {
  color: #666;
  line-height: 1.7em;
  margin: 0;
  margin-bottom: 1em;
  display: inline;
}
.align-right {
  text-align: right;
}
p.small-text {
  font-size: 0.7em;
}
a {
  color: #FF5C5C;
}
a:hover {
  color: #666;
}
/* Project Meta Information */
#project-meta h2 {
  font-family: 'Host Grotesk,' helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin: 0;
  color: #FF5C5C;
}
#project-meta ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}
#project-meta li {
  display: block;
  padding-bottom: 0.5em;
}
.horizontal#project-meta ul {
  display: inline-block;
  margin-right: 6em;
}
.horizontal#project-meta li {
  display: block;
}
#project-meta p {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 300;
  color: #483C46;
  line-height: 1.25em;
}
#project-meta a {
  color: #483C46;
}
#project-meta a:hover {
  color: #FF5C5C;
}
span.tag {
  padding: 0em 1em;
  background-color: #E6E6E6;
  color: #888;
  border-radius: 50px;
  font-size: 0.8em;
  margin: 0.5em 0.3em 0.2em 0;
  display: inline-block;
  line-height: 1.8em;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  cursor: pointer; 
}
span.tag:hover {
  background-color: #cccccc;
  color: #ffffff;
}
span.tag:active {
  background-color: #cccccc;
  color: #ffffff;
}
span.tag.selected {
  background-color: #cccccc;
  color: #ffffff;
}
/* Buttons */
.button-container {
  text-align: center;
  width: 100%;
}
.button {
  font-family: 'Nunito', helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #FF584D;
  padding: 8px 24px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.15s linear;
  margin-top: 0px;
  margin-bottom: 1em;
  min-height: 44px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-decoration: none;
}
.button:after {
  
}
.button:hover {
  background-color: #E84F4A;
  color: #fff;
  text-decoration: none;
}

a span.button:hover {
  text-decoration: none;
}
.link-button {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.85em;
  font-family: 'raleway';
  color: #FF5C5C;
  cursor: pointer;
}
.link-button:hover {
  color: #666666;
}

/* Work Experience & Skills Styles */
.workplace-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.column.workplace-list:nth-child(2) {
  padding-bottom: 48px !important;
}
@media only screen and (min-width: 721px) {
  .row .column.workplace-list:nth-child(2) {
    padding: 0 1em 0 1em !important;
  }
}
.workplace-item {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}
.workplace-icon {
  height: 80px;
  width: 80px;
  background-color: #FFF4F2;
  border-radius: 4px;
}
.workplace-info p {
  line-height: 1.3em;
}
.workplace-heading {
}
.workplace-heading p {
  color: #757575;
  margin-bottom: 1em;
  font-size: 0.9em;
}
.workplace-heading h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  font-weight: 750;
  font-family: "Nunito Sans";
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  margin-top: 3em;
}
.skills-title {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.skills-list-item {
  display: flex;
  padding: 6px 24px;
  align-items: center;
  border-radius: 100px;
  background: #FFEFEB;
  box-sizing: border-box;
  min-height: 44px;
  text-align: center;
  font-weight: bold;
  color: #363636;
  font-family: 'Nunito', helvetica, arial, sans-serif;
}

/* Forms */
form {
  margin: 2em 0 0 0;
}
input[type=text], textarea {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 0.9em;
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid #cccccc;
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1em;
  background-color: #F9F9F9;
}
input[type=text]:focus, textarea:focus {
  border: 1px solid #518be3;
}
input[type=text][validation="error"], textarea[validation="error"] {
  border: 1px solid #FF5C5C;
}
label {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin: 0;
  color: #666666;
}
input[type=submit] {
   border: none;
  font-family: 'Nunito', helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #FF584D;
  padding: 8px 24px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.2s linear;
  margin-top: 0px;
  margin-bottom: 1em;
  min-height: 44px;
}
input[type=submit]:hover {
  background-color: #E84F4A;
}
/* Images */
img {
  width: 100%;
  color: #e4e4e4;
}
.image-padding {
  box-sizing: border-box;
}
img.sketch {
  background-color: rgba(255, 92, 92, 0.15);
  padding: 1em;
  box-sizing: border-box;
}
.border-shadow {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
}
img.profile.serious {
  background-color: #68B2B2;
  border-radius: 400px;
  max-width: 300px;
  margin: auto;
  display: block;
}
img.profile.silly {
  background-color: #EDC24A;
}
/* Footer Styles */
footer {
  background-color: #483C46;
  color: #CDCDCD;
  font-size: 1em;
  line-height: 1.8em;
  display: table-row;
  font-family: 'Nunito', helvetica, arial, sans-serif;
}
footer .row {
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
}
footer .centered {
  text-align: center;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  display: inline-block;
  text-align: left;
}
footer .footer-column-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-list {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.footer-list.to50 li {
  text-align: center;
}
.footer-list li a {
  text-decoration: none;
  color: #D6B8B8;
}
.footer-list li a:hover {
  color: #ffffff;
}
h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0px;
  line-height: 1.4;
  margin-bottom: 0.4em;
  letter-spacing: 0.1em;
}
footer h6 {
  color: #ffffff;
  text-transform: unset;
  font-weight: 500;
  margin: 0px;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: 'Host Grotesk', helvetica, arial, sans-serif;
  letter-spacing: 0.04em;
  margin-bottom: 0.7em;
}
footer p {
  margin: 0;
}
/*
footer .cta {
  font-weight: 600;
  color: #ffffff;
  max-width: 11em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
*/
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer .button {
  font-family: 'Nunito', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #FF584D;
  background-image: none;
  margin-top: 0px;
  margin-bottom: 1em;
  color: #fff;
}
footer a.button {
  color: #fff;
}
.footer-list.signature-container {
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
}
footer .signature {
  text-align: center;
  display: flex;
  width: fit-content;
}
footer .logo-mark {
  display: inline-block;
  width: 97px;
  height: 54px;
}
#footer-title-container {
  display: inline-block;
  width: 70px;
  text-align: left;
}
p#footer-title {
  color: #ffffff;
  font-weight: 700;
  margin: 0px;
  font-size: 1em;
  line-height: 1.3em;
  font-family: 'Nunito Sans', helvetica, arial, sans-serif;
}
.footer-list.last-column li {
  text-align: center;
}
.socials-icon {
  display: inline-block;
  margin-right: 14px;
}
.socials-icon svg {
  fill: #ffffff;
  transition: fill 0.15s ease-in-out;
  -webkit-transition: fill 0.15s ease-in-out;
}
.socials-icon svg:hover {
  fill: #FF5C5C;
}
main .socials-icon svg {
  fill: #483C46;
  transition: fill 0.15s ease-in-out;
  -webkit-transition: fill 0.15s ease-in-out;
}
.dark-box {
  background-color: #40343E;
  padding: 0px 24px;
}
.copyright-info {
  font-size: 0.9em;
  color: #BDA8A8;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: 0;
  line-height: 1.3em;
}
/* Portfolio Filter */
h3.grid-title {
  float: left;
  margin-top: 0.3em;
}
#filter {
  float: right;
  margin-top: 0.5em;
  margin-bottom: 3em;
}
select#portfolio-filter {
  font-family: 'open sans', sans-serif;
  border: none;
  padding: 0.3em 0.6em;
  background-color: #E6E6E6;
  color: #888;
  border-radius: 50px;
  font-size: 0.8em;
  margin: 0.2em 0 0.2em 0;
  display: inline-block;
  line-height: 1.8em;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select#portfolio-filter:focus {
  outline: none;
  border: none;
  border-radius: 50px;
}
select#portfolio-filter:focus option {
}
select#portfolio-filter:focus option:hover {
  background-color: #cccccc;
  color: #ffffff;
}
select#portfolio-filter::-ms-expand {
  display: none;
}
/* Portfolio Grid */
main .portfolio.column {
  margin-top: 0;
}
.column.hybrid-row .column.project {
  padding: 0;
}
.column.hybrid-row .column.project .column {
  background-color: #eee;
  text-align: center;
  padding-bottom: 75% !important;
  margin-bottom: 1em;
  position: relative;
  background-image: url("");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
}
.column.hybrid-row .column.project .column.imgParallax {
  background-position-y: -10px;
}
.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,102,102,0.75);
  opacity: 0;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear; 
}
.overlay:hover {
  opacity: 1;
}
main .centered {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}
.project h4 {
  color: #fff;
  margin: 0;
  font-size: 1.4em;
  font-family: 'raleway', sans-serif;
}
.project h5 {
  color: #fff;
  margin: 0;
  font-size: 1em;
}
/* Media Queries (Mobile First) */
/* Very Small Screens */
@media only screen and (max-width: 320px) {
  #hero .container {
  }
  .footer-list {
    margin: 2em 0 2em 0;
  }
  .footer-list.signature-container {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  .footer-list.to100 {
    width: 100%;
  }
  .footer-list.to50 {
    width: 100%;
    text-align: center;
  }
  .footer-list.to33 {
    width: 33.33%;
  }
  .gallery-img {
    height: 150px;
  }
}
/* Major Breakpoint || Mobile */
@media only screen and (min-width: 321px) {
  #hero {
    height: 400px;
  }
  #hero.gradient {
    height: 500px;
  }
  #hero .container {
  }
  .footer-list {
    margin: 2em 0 2em 0;
  }
  .footer-list.signature-container {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  .footer-list.to100 {
    width: 100%;
  }
  .footer-list.to50 {
    width: 50%;
    text-align: center;
  }
  .footer-list.to50 li {
  text-align: left;
  }
  .footer-list.to33 {
    width: 33.33%;
  }
  .gallery-img {
    height: 200px;
  }
}
/* Mobile Horizontal & Tablets */
@media only screen and (min-width: 601px) {
  #hero {
    height: 600px;
  }
  #hero.gradient {
    height: 600px;
  }
  #hero .container {
    margin-top: 100px;
  }
  main .centered {
    font-size: 1.5em;
  }
  .footer-list {
    margin: 2em 0 2em 0;
  }
  .footer-list.signature-container {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  .footer-list.to100 {
    width: 100%;
  }
  .footer-list.to50 {
    width: 50%;
  }
  .footer-list.to33 {
    width: 25%;
  }
  footer .signature {
    text-align: left;
  }
  .gallery-img {
    height: 300px;
  }
}
/* Major Breakpoint || Tablets & Small Desktops */
@media only screen and (min-width: 721px) {
  .spacer {
    padding-right: 8.33%;
    box-sizing: border-box;
  }
  nav#horizontal {
    display: inline-block;
  }
  #hamburger-cell {
    display: none;
  }
  nav#vertical {
    display: none;
  }
  #hero {
    height: 600px;
  }
  #hero.gradient {
    height: 600px;
  }
  #hero .container {
    margin-top: 100px;
  }
  .column.hybrid-row .span4.project:nth-child(3n+1) {
    padding: 0 0.5em 0 0.5em !important;
  }
  .column.hybrid-row .span4.project:nth-child(3n+2) {
    padding: 0 0.5em 0 0.5em !important;
  }
  .column.hybrid-row .span4.project:nth-child(3n+3) {
    padding: 0 0.5em 0 0.5em !important;
  }
  main .centered {
    font-size: 1em;
  }
  .footer-list.signature-container {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  .footer-list.last-column li {
    text-align: left;
  }
  .footer-list.to100, .footer-list.to50, .footer-list.to33 {
    width: auto;
    text-align: left;
    margin: 2em 0 2em 0;
  }
  .gallery-img {
    height: 400px;
  }
}
/* Major Breakpoint || Desktop & Up */
@media only screen and (min-width: 1024px) {
  #hero {
  }
  .footer-list.to50, .footer-list.to33, .footer-list.to100 {
    width: auto;
    margin: 2em 0 2em 0;
  }
  .gallery-img {
    height: 400px;
  }
}
/* Desktop (Includes Margins) */
@media only screen and (min-width: 1056px) {
.button-container {
    text-align: left;
  }
}
/* Minesweeper Styles */
#game-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  gap: 4px;
}
.ms-grid {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}
.ms-uncleared-blank {
  background-color: #FFE4DF;
}
.ms-uncleared-flag {
  background-color: #FFE4DF;
}
.ms-uncleared-flag::after {
  font-family: 'Nunito Sans', helvetica, arial, sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  display: inline-block;
  font-weight: 600;
  content: "flag";
}
.ms-cleared-blank, .ms-cleared-1, .ms-cleared-2, .ms-cleared-3, .ms-cleared-4, .ms-cleared-5, .ms-cleared-6, .ms-cleared-7, .ms-cleared-8 {
  background-color: #FFF6F4;
}
.ms-cleared-1::after, .ms-cleared-2::after, .ms-cleared-3::after, .ms-cleared-4::after, .ms-cleared-5::after, .ms-cleared-6::after, .ms-cleared-7::after, .ms-cleared-8::after {
  font-family: 'Nunito Sans', helvetica, arial, sans-serif;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  height: 100%;
  width: 100%;
  display: inline-block;
  font-weight: 700;
}
.ms-cleared-1::after {
  content: "1";
  color: #0FAAEC;
}
.ms-cleared-2::after {
  content: "2";
  color: #09AB40;
}
.ms-cleared-3::after {
  content: "3";
  color: #DE9914;
}
.ms-cleared-4::after {
  content: "4";
  color: #FE3541;
}
.ms-cleared-5::after {
  content: "5";
  color: #E12A82;
}
.ms-cleared-6::after {
  content: "6";
  color: #8E20E5;
}
.ms-cleared-7::after {
  content: "7";
  color: #192FF0;
}
.ms-cleared-8::after {
  content: "8";
  color: #2C3474;
}
.ms-bomb {
  background-color: #FF584D;
}

/* Hero */
#hero-redesign h1 {
    font-family: "Host Grotesk", Helvetica, Arial, sans-serif;
}

#hero-redesign.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0px;
    margin-top: -76px;
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' height='16px' width='16px'%3E%3Ccircle fill='blue' cx='50' cy='50' r='50' /%3E%3C/svg%3E") 8 8, auto;
    box-sizing: border-box;
    position: relative;
}

#hero-redesign.hero .hero-background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ff6666, #ff7678);
    background-color: #ff6666;
    padding: 76px var(--base-padding) var(--base-padding) var(--base-padding);
    box-sizing: border-box;
    position: relative;
}

#hero-redesign #hero-text-container {
    position: relative;
    width: 14em;
}

#hero-redesign.hero h1 {
    position: relative;
    font-size: calc(5.25rem * var(--header-multiplier));
    font-weight: 500;
    color: var(--brand-pink);
    margin: 0;
    z-index: 2;
}

#hero-redesign.hero h1 #happy-text {
    color: rgba(255, 255, 255, 0.00001);
}

#hero-redesign.hero #happy-svg {
    position: absolute;
    font-size: calc(5.25rem * var(--header-multiplier));
    left: calc(1em * 3.0625);
    top: calc(1em * 0.287);
    z-index: 1;
    transform: translateY(calc(5.25rem * var(--header-multiplier) * -0.44));
    width: 2.8214em;
    height: 1.88095em;
}

body.no-animation #hero-redesign.hero h1 #happy-text {
    color: var(--brand-pink);
}

body.no-animation #hero-redesign.hero #happy-svg {
    display: none;
}

#hero-redesign #happy-svg path {
    fill: var(--brand-pink);
    font-size: calc(5.25rem * var(--header-multiplier));
}

#hero-redesign #happy-h {
    animation: wave 2s -1.5s linear infinite alternate-reverse;
}

#hero-redesign #happy-a {
    animation: wave 2s -1.125s linear infinite alternate-reverse;
}

#hero-redesign #happy-p1 {
    animation: wave 2s -0.75s linear infinite alternate-reverse;
}

#hero-redesign #happy-p2 {
    animation: wave 2s -0.375s linear infinite alternate-reverse;
}

#hero-redesign #happy-y {
    animation: wave 2s 0s linear infinite alternate-reverse;
}

/* Lava lamp effect */
#hero-redesign #lava-lamp-container {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 1;
    overflow: hidden;
    background: var(--light-pink);
    mix-blend-mode: screen;
}

#hero-redesign #lava-lamp-container:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.01);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-pink);
    opacity: 0.8;
    pointer-events: none;
}

#hero-redesign #lava-blobs {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    filter: blur(40px);

}

#hero-redesign .filter-dodge {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: #808080;
    mix-blend-mode: color-dodge;
    pointer-events: none;
}

#hero-redesign .filter-burn {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: #000;
    mix-blend-mode: color-burn;
    pointer-events: none;
}

#hero-redesign .blob {
    position: absolute;
    background-color: #000;
    border-radius: 200px;
    min-height: 100px;
    min-width: 100px;
}

#hero-redesign .blob:nth-child(1) {
    height: calc(var(--blob-unit) * 3);
    width: calc(var(--blob-unit) * 3);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * -1.5);
    animation: blob-move 35s ease-in-out infinite;
    animation-delay: -2s;
}

#hero-redesign .blob:nth-child(2) {
    height: calc(var(--blob-unit) * 1.5);
    width: calc(var(--blob-unit) * 1.5);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * 1.5);
    animation: blob-move 25s ease-in-out infinite;
    animation-delay: -3s;
}

#hero-redesign .blob:nth-child(3) {
    height: calc(var(--blob-unit) * 2);
    width: calc(var(--blob-unit) * 2);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * 2.5);
    animation: blob-move 28s ease-in-out infinite;
}

#hero-redesign .blob:nth-child(4) {
    height: calc(var(--blob-unit) * 3);
    width: calc(var(--blob-unit) * 3);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * 4.5);
    animation: blob-move 40s ease-in-out infinite;
    animation-delay: -1s;
}

#hero-redesign .blob:nth-child(5) {
    height: var(--blob-unit);
    width: var(--blob-unit);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * 8);
    animation: blob-move 20s ease-in-out infinite;
    animation-delay: -1s;
    display: none;
}

#hero-redesign .blob:nth-child(6) {
    height: calc(var(--blob-unit) * 2.5);
    width: calc(var(--blob-unit) * 2.5);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * 12);
    animation: blob-move 35s ease-in-out infinite;
    animation-delay: -3s;
    display: none;
}

#hero-redesign .blob:nth-child(7) {
    height: var(--blob-unit);
    width: var(--blob-unit);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * 15);
    animation: blob-move 25s ease-in-out infinite;
    animation-delay: -2s;
    display: none;
}

#hero-redesign .blob:nth-child(8) {
    height: calc(var(--blob-unit) * 3.25);
    width: calc(var(--blob-unit) * 3.25);
    transform: translateY(100vh);
    left: calc(var(--blob-unit) * 17);
    animation: blob-move 45s ease-in-out infinite;
    animation-delay: 5s;
    display: none;
}

body.no-animation #hero-redesign .blob {
    animation: none;
}

body.no-animation #hero-redesign #lava-lamp-container {
    display: none;
}

body.no-animation #hero-redesign.hero .hero-background {
    background: linear-gradient(#ffc9c9, #ffb4b4)
}

#hero-redesign .lava-floor {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 200px;
    top: calc(100% + 50px);
}

#hero-redesign button#no-animation {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 100px;
    height: 44px;
    position: absolute;
    top: calc(100% - 52px);
    color: #814343;
    z-index: 3;
    font-size: 0.95rem;
    font-family: "Host Grotesk", Helvetica, Arial, sans-serif;
    padding: 0 24px;
    font-weight: 400;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
}

#hero-redesign button#no-animation:hover {
    background-color: rgba(255, 117, 117, 0.15);
    color: #6e1306;
}

/* Old theme: legacy hero displays */
body #hero {
  display: block;
}

/* Old theme: new hero does not display */
body #hero-redesign.hero {
  display: none !important;
}

/* Old theme: about does not display */
body #about-intro {
  display: none !important;
}

/* New theme: legacy hero does not display */
body.new-hero #hero {
  display: none;
}

/* New theme: new hero displays */
body.new-hero #hero-redesign.hero {
  display: block !important;
}

/* New theme: about displays */
body.new-hero #about-intro {
  display: block !important;
}

/* New theme: about displays */
body.new-hero .colorblock {
  display: inline-block !important;
}

#intro-colorblock.colorblock {
  background-color: #FDF5F5;
}

#about-intro h2 {
  font-family: 'Host Grotesk', helvetica, arial, sans-serif;
  font-size: calc(2.4rem * var(--header-multiplier));
  font-weight: 600;
  color: #7c6464;
  margin-bottom: 1rem;
}
#about-intro p {
  font-size: 1.2rem;
  color: #746767;
}
  
/* Header */
header#new-header {
    position: sticky;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 2;
    backdrop-filter: blur(40px);
    transition: background-color 0.45s;
}

header#new-header:hover{
    background-color: rgba(248, 171, 171, 0.25);
}

header#new-header:before {
    content: "";
    background-color: var(--pale-pink);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    blur: 20px;
}

header#new-header .header-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: 12px var(--base-padding);
    z-index: 2;
}

header#new-header .header-container .column {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header#new-header .header-container .column:nth-child(2) {
    justify-content: right;
}

header#new-header #header-logo {
    cursor: pointer;
}

header#new-header nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

header#new-header #desktop-menu ul {
    list-style: none;
    display: none;
    flex-direction: row;
    gap: 24px;
    margin: 0;
    height: 44px;
}

header#new-header nav ul li {
    height: 44px;
    font-family: "Host Grotesk", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.175em;
    font-size: 0.95rem;
    cursor: pointer;
    align-items: center;
    line-height: 44px;
    padding: 0px 22px;
    color: #814343;
    transition: color 0.25s ease-in-out;
}

header#new-header nav ul li:hover {
    color: #6e1306;
}

header#new-header nav ul li {
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#new-header nav ul li:before {
    height: 0px;
    width: 0px;
    border-radius: 150px;
    position: absolute;
    content: "";
    background-color: rgba(255, 117, 117, 0.1);
    transition: all 0.4s ease-in-out;
}

header#new-header nav ul li:hover:before {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 117, 117, 0.1);
}

body.no-animation header#new-header nav ul li:before {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 117, 117, 0);
    transition: all 0.2s ease-in-out;
}

body.no-animation header#new-header nav ul li:hover:before {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 117, 117, 0.1);
}

#mobile-menu nav .menu-button {
    position: absolute;
    top: 12px;
    right: var(--base-padding);
}

nav .menu-button {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    min-height: 44px;
    min-width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 200px;
    position: relative;
    z-index: 6;
}

nav .menu-button:before {
    height: 0px;
    width: 0px;
    border-radius: 150px;
    position: absolute;
    content: "";
    background-color: rgba(255, 117, 117, 0.1);
    transition: all 0.4s ease-in-out;
}

nav .menu-button:hover:before {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 117, 117, 0.1);
}

.fluid-icon {
    height: 32px;
    width: 32px;
    position: relative;
}

.fluid-shape {
    background-color: #814343;
    height: 4px;
    width: 24px;
    border-radius: 4px;
    transition: all 0.25s;
}

.menu-button .fluid-icon .fluid-shape:nth-child(1) {
    position: absolute;
    left: 4px;
    top: 7px;
}

.menu-button .fluid-icon .fluid-shape:nth-child(2) {
    position: absolute;
    left: 4px;
    top: 14px;
}

.menu-button .fluid-icon .fluid-shape:nth-child(3) {
    position: absolute;
    left: 4px;
    top: 21px;
}

.menu-button:hover .fluid-icon .fluid-shape:nth-child(1) {
    position: absolute;
    left: 6px;
    top: 4px;
    width: 20px;
}

.menu-button:hover .fluid-icon .fluid-shape:nth-child(2) {
    position: absolute;
    left: 4px;
    top: 14px;
}

.menu-button:hover .fluid-icon .fluid-shape:nth-child(3) {
    position: absolute;
    left: 6px;
    top: 24px;
    width: 20px;
}

.menu-button.transition .fluid-icon .fluid-shape {
    height: 8px;
    width: 8px;
    top: 12px;
    left: 12px;
    border-radius: 8px;
}

.menu-button.transition:hover .fluid-icon .fluid-shape {
    height: 8px;
    width: 8px;
    top: 12px;
    left: 12px;
    border-radius: 8px;
}

.menu-button.opened .fluid-icon .fluid-shape:nth-child(1) {
    height: 4px;
    width: 24px;
    top: 14px;
    left: 4px;
    border-radius: 4px;
    transform: rotate(-45deg);
}

.menu-button.opened .fluid-icon .fluid-shape:nth-child(2) {
    height: 4px;
    width: 4px;
    top: 14px;
    left: 14px;
    border-radius: 4px;
}

.menu-button.opened .fluid-icon .fluid-shape:nth-child(3) {
    height: 4px;
    width: 24px;
    top: 14px;
    left: 4px;
    border-radius: 4px;
    transform: rotate(45deg);
}

.menu-button.opened:hover .fluid-icon .fluid-shape:nth-child(1) {
    height: 4px;
    width: 24px;
    top: 14px;
    left: 4px;
    border-radius: 4px;
    transform: rotate(-35deg);
}

.menu-button.opened:hover .fluid-icon .fluid-shape:nth-child(2) {
    height: 4px;
    width: 4px;
    top: 14px;
    left: 14px;
    border-radius: 4px;
}

.menu-button.opened:hover .fluid-icon .fluid-shape:nth-child(3) {
    height: 4px;
    width: 24px;
    top: 14px;
    left: 4px;
    border-radius: 4px;
    transform: rotate(35deg);
}

.menu.navigation {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    overflow: hidden;
    backdrop-filter: blur(40px);
    z-index: 5;
    display: none;
}

.menu.navigation nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu.navigation nav ul li {
    height: 44px;
    font-family: "Host Grotesk", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.175em;
    font-size: 1.15rem;
    cursor: pointer;
    align-items: center;
    line-height: 44px;
    padding: 0px 22px;
    color: #814343;
    transition: color 0.25s ease-in-out;
}

.menu.navigation nav ul li:hover {
    color: #6e1306;
}

#new-header .column.span-6 {
    width: 50%;
}

/* Animations */
@keyframes wave {
    0%   { transform: translateY(15.2%) }
    10%  { transform: translateY(16.2%) }
    25%  { transform: translateY(19.4%) }
    75%  { transform: translateY(29.6%) }
    90%  { transform: translateY(32.8%) }
    100% { transform: translateY(33.8%) }
}

@keyframes blob-move {
    0%   { transform: translateY(100vh) scaleX(100%) scaleY(105%) }
    50%  { transform: translateY(-100%) scaleX(120%) scaleY(100%) }
    100% { transform: translateY(100vh) scaleX(100%) scaleY(105%) }
}

/* Small screens */
@media screen and (min-width: 329px) {
    :root {
        font-size: 16px;
        --body-size: 16px;
        --header-multiplier: 0.6;
        --base-padding: 16px;
        --blob-unit: calc(100vw / 6);
    }

    #hero-redesign .blob:nth-child(5), #hero-redesign .blob:nth-child(6) {
        display: block;
    }

    #hero-redesign.hero {
        height: 650px;
    }

    #hero-redesign #hero-text-container {
        width: 19em;
    }
}

/* Medium screens */
@media screen and (min-width: 480px) {
    :root {
        --header-multiplier: 0.75;
        --base-padding: 30px;
        --blob-unit: calc(100vw / 10);
    }

    #hero-redesign .blob:nth-child(5), #hero-redesign .blob:nth-child(6) {
        display: block;
    }

    #hero-redesign.hero {
        height: 650px;
    }

    #hero-redesign button#no-animation {
        right: calc( max((var(--base-padding) - 24px), 0px));
    }

    #hero-redesign #hero-text-container {
        width: 24em;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --header-multiplier: 0.85;
        --blob-unit: calc(100vw / 17);
    }

    nav .menu-button {
        display: none;
    }

    header#new-header #desktop-menu ul {
        display: flex;
    }
  
    #hero-redesign .blob:nth-child(7), #hero-redesign .blob:nth-child(8) {
        display: block;
    }
  
    #hero-redesign.hero {
        height: 650px;
    }

    #hero-redesign #hero-text-container {
        width: 27em;
    }
}

/* Large screens */
@media screen and (min-width: 865px) {
    #hero-redesign #hero-text-container {
        width: auto;
    }
}

@media screen and (min-width: 1100px) {
    :root {
        --header-multiplier: 1;
        --blob-unit: calc(100vw / 19.2);
    }

    #hero-redesign.hero {
        height: 700px;
    }
}

/* Very large screens */
@media screen and (min-width: 1600px) {
    #hero-redesign.hero {
        height: 800px;
    }
}
