body {
}
p {
    font-family: verdana;
}
div#gallery {
    max-width: 1000px;
    display: block;
    margin: auto;
    align-self: center;
    -webkit-align-self: center;
}
div.gallery_img {
    width: 300px;
    height: 300px;
    margin: 12px;
    display: inline-block;
    background-color: orange;
}
div#cellB {
    background-color: tomato;
}
