h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #ff6666;
  text-transform: uppercase;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #ff9966;
  text-transform: uppercase;
}
h4 {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #52656f;
}
p {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  font-size: 80%;
}
div.blockquote {
  border-left: 5px solid #72b89c;
}
div.blockquote p {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-style: italic;
  color: #72b89c;
  margin-left: 7px;
}
div.process {
  background-color: rgba(82, 101, 111, 0.13);
}
div.process p {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
}
div.codesnip {
  background-color: rgba(82, 101, 111, 0.13);
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  padding: 5px;
}
div.codesnip p {
  font-family: 'Courier New', 'Courier', monospace, sans-serif;
  margin: 0px;
  color: #52656f;
}
