h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 370%;
  color: #ff6666;
  text-transform: uppercase;
  margin-bottom: 13pt;
  margin-top: 13pt;
  line-height: 100%;
  width: 100%
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #ff9966;
  text-transform: uppercase;
  font-size: 120%;
}
h4 {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #52656f;
  margin: 0px;
}
p {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  font-size: 100%;
}
@media (max-width: 1200px) {
    div.gallery_img {
      margin-left: 20pt;
      margin-right: 20pt;
    }
}
div.blockquote {
  border-left: 5pt solid #72b89c;
  margin: auto;
  padding-left: 7pt;
  max-width: 400pt;
}
div.blockquote p {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-style: italic;
  color: #72b89c;
  font-size: 120%;
}
div.process {
  background-color: rgba(82, 101, 111, 0.13);
  overflow: hidden;
  padding: 10pt;
}
div.process p {
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
}
div.codesnip {
  background-color: rgba(82, 101, 111, 0.13);
  border-radius: 10px;
  padding: 5pt;
  margin: auto;
  max-width: 300pt;
}
div.codesnip p {
  font-family: 'Courier New', 'Courier', monospace, sans-serif;
  margin: 0px;
  color: #52656f;
  font-size: 100%;
}
div.main {
    width: 100%;
}
div.container {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
div.gradient-bar {
  height: 10px;
  background-color: #ff6666;
  background-image: linear-gradient(to right, #ff9966, #ff6666);
  width: 100%;
  overflow: hidden;
}
img {
  background-color: #28353b;
  width: 100%;
  height: 200pt;
  color: #ffffff;
  display: block;
  font-family: 'Lato', verdana, arial, helvetica, sans-serif;
  font-weight: 300;
  border-left: 5pt solid #72b89c;
}
div.project-title {
  width: 100%;
  padding-bottom: 39pt;
}
