.speciallink a:link{ 
    color:red; 
    text-decoration:none;
} 
.speciallink a:visited{
    color:red;
    text-decoration:none;
    } 
.speciallink a:hover{ 
    color:red; 
    text-decoration:none;
    } 
.speciallink a:active{ 
    color:red;
    text-decoration:none;
    }
.speciallink p{
    margin:0px;
    font-family: helvetica, arial, sans-serif; 
    font-size:10pt;
}
div .speciallink {
    float: left; padding-left:10pt;
}
