.page-outline {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 8px #eee;
  margin-bottom: 4em;
}

.page-hero {
  background-color: #666;
  overflow: hidden;
  width: 100%;
  height: 9em;
}

.page-outline .fake-main {
  margin: 0 10%;
}

.page-outline .column {
  margin-top: 3em;
}

.page-accent {
  color: #555;
  font-size: 4.5em;
  font-weight: 800;
  display: block;
  width: 200%;
}

.page-subtitle-tiny {
  font-weight: 300;
  margin: 0;
  font-size: 0.7em;
}

.page-title-tiny {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  font-weight: 800;
  margin: 0;
  font-size: 1em;
  line-height: 1.1em;
  margin-bottom: 0.2em;
  color: #483C46;
}

main .page-meta-tiny p {
  margin: auto !important;
  line-height: unset !important;
}

.meta-header-tiny {
  text-transform: uppercase;
  font-size: 0.3em;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin: 1.5em 0 -1em 0;
  color: #FF5C5C;
  display: block;
}

.meta-text-tiny {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 0.5em;
  color: #483C46;
  line-height: 1.25em;
}

.meta-tag-tiny {
  padding: 0em 1em;
  background-color: #E6E6E6;
  color: #888;
  border-radius: 50px;
  font-size: 0.4em;
  margin: 0.5em 0.3em 0.2em 0;
  display: inline-block;
  line-height: 1.8em;
}

#page-creator-output {
  background-color: #eee;
  border-radius: 4px;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 1em;
  font-family: monospace;
}
